<!DOCTYPE html>
<html>
  <head>
    <title> NodeJS Snippets</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap4.css' />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-6">
            <h1><%= greeting %></h1>
          </div>
          <div class="col-sm-6">
            <img src="/images/node-logo.jpg" style="width: 50%;">
          </div>
        </div>
        <p>This is my cheat sheet of most used code-snippets</p>
      </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap4.js"></script>
  </body>
</html>
